[0;1;32m●[0m worldpeace.service - My Python service
     Loaded: loaded (]8;;file://WPC/etc/systemd/system/worldpeace.service/etc/systemd/system/worldpeace.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;32mactive (running)[0m since Wed 2024-04-10 06:39:17 UTC; 8s ago
   Main PID: 2177788 (python)
      Tasks: 3 (limit: 4646)
     Memory: 50.4M
        CPU: 972ms
     CGroup: /system.slice/worldpeace.service
             └─[0;38;5;245m2177788 /root/myenv/bin/python /root/WorldPeaceCoin/main.py[0m

Apr 10 06:39:17 WPC systemd[1]: Started worldpeace.service - My Python service.
Apr 10 06:39:18 WPC python[2177788]: 2024-04-10 06:39:18,136 - __main__ - INFO - Starting bot 2.0...
Apr 10 06:39:18 WPC python[2177788]: 2024-04-10 06:39:18,653 - httpx - INFO - HTTP Request: POST https://api.telegram.org/bot6760393445:AAEGR_SKv85uwzaJLTLUUgoFtoyOYKXOdQU/getUpdates "HTTP/1.1 200 OK"
Apr 10 06:39:19 WPC python[2177788]: 2024-04-10 06:39:19,212 - httpx - INFO - HTTP Request: POST https://api.telegram.org/bot6760393445:AAEGR_SKv85uwzaJLTLUUgoFtoyOYKXOdQU/getMe "HTTP/1.1 200 OK"
Apr 10 06:39:19 WPC python[2177788]: 2024-04-10 06:39:19,359 - httpx - INFO - HTTP Request: POST https://api.telegram.org/bot6760393445:AAEGR_SKv85uwzaJLTLUUgoFtoyOYKXOdQU/deleteWebhook "HTTP/1.1 200 OK"
Apr 10 06:39:19 WPC python[2177788]: 2024-04-10 06:39:19,361 - telegram.ext.Application - INFO - Application started
