[0;1;31m×[0m worldpeace.service - My Python service
     Loaded: loaded (]8;;file://WPC/etc/systemd/system/worldpeace.service/etc/systemd/system/worldpeace.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Tue 2024-04-30 12:03:31 UTC; 4min 59s ago
   Duration: 529ms
   Main PID: 2454756 (code=exited, status=1/FAILURE)
        CPU: 661ms

Apr 30 12:03:31 WPC systemd[1]: worldpeace.service: Scheduled restart job, restart counter is at 5.
Apr 30 12:03:31 WPC systemd[1]: Stopped worldpeace.service - My Python service.
Apr 30 12:03:31 WPC systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mworldpeace.service: Start request repeated too quickly.[0m
Apr 30 12:03:31 WPC systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mworldpeace.service: Failed with result 'exit-code'.[0m
Apr 30 12:03:31 WPC systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start worldpeace.service - My Python service.[0m
